<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gaming Forum</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/gaming-forum/public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/gaming-forum/public/css/style.css">
</head>

<body>
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="nav navbar-nav">
        {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/gaming-forum/public/js/login.js">Login|Sign Up</a>
        {{/if}}
      </div>

      <div class="navbar-header justify-content-center">
        <a class="navbar-brand" href="#">Gaming Forum</a>
      </div>
    
    </div>
  </nav>


  <main>
    
    <div>
      {{{body}}}
    </div>

  </main>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  {{#if loggedIn}}
  <script src="/gaming-forum/public/js/logout.js"></script>
  {{/if}}
</body>

</html>