<div>
    <h1>{{board.name}}</h1>
    <button id="createThreadBtn" > + create thread</button>
    <br>
    <div class="postBox">
        <ul>
            {{#each post.title as |title|}}
            {{> board-details}}
            {{/each}}
        </ul>
    </div>
</div>

<div>
    <form>
        <div class="form-group"> 
            <label for="Textarea">Make a Post!</label>
            <textarea class="form-control" id="postInput" rows="3"></textarea>
        </div>
    </form>
    <button class="btn btn-primary" type="submit" value="submit" id="postBtnBoard">Post</button>
    <button class="btn btn-primary" type="reset" value="reset" id="cancelBtnBoard">Cancel</button>
</div>