<div>
    <h1>{{board.name}}</h1>
    <button id="createThreadBtn" > + create thread</button>
    <br>
    <ul>
        <li> {{post.title}} created by {{post.user_id}} </li>
    </ul>
</div>

<div>
    <form>
        <div class="form-group"> 
            <label for="Textarea">Make a Post!</label>
            <textarea class="form-control" id="postInput" rows="3"></textarea>
        </div>
    </form>
    <button>Post</button>
    <button>Cancel</button>
</div>