<div>
    <div class="d-flex justify-content-center">
    <h2 class="page-title">Home</h2>
    </div>
    <ul class="list-group">
        {{#each board.name as |name|}}
        {{> homescreen-details}}
        {{/each}}
    </ul>
    
</div>