<header> <h1>Login/Signup</h1></header>

<div class="row justify-content-center align-items-center d-flex p-2">
  <div class="login-card">
    <h2 class="page-title loginDecor">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="username-login" class="labelSpace">Username:</label>
        <input class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="labelSpace">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="loginBtn">login</button>
      </div>
    </form>
  </div>

  <div class="login-card">
    <h2 class="page-title loginDecor">Sign-up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup" class="labelSpace">Username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="labelSpace">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="labelSpace">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="signUpBtn">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="/gaming-forum/public/js/login.js"></script>